# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.pyc

# Virtual environment
venv/
env/
.venv/

# Django
*.log
*.pot
db.sqlite3
media/

# Environment variables
.env

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp

dashboard_kelas.zip